@font-face {
	font-family: 'Myriadpro';
	src: url('../fonts/MYRIADPRO-REGULAR.eot');
	src: local('☺'), url('../fonts/MYRIADPRO-REGULAR.woff') format('woff'), url('../fonts/MYRIADPRO-REGULAR.ttf') format('truetype'), url('../fonts/MYRIADPRO-REGULAR.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AGENCYR';
	src: url('../fonts/AGENCYR.eot');
	src: local('☺'), url('../fonts/AGENCYR.woff') format('woff'), url('../fonts/AGENCYR.ttf') format('truetype'), url('../fonts/AGENCYR.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AGENCYB';
	src: url('../fonts/AGENCYB.eot');
	src: local('☺'), url('../fonts/AGENCYB.woff') format('woff'), url('../fonts/AGENCYB.ttf') format('truetype'), url('../fonts/AGENCYB.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}