@import "nullstyle";
@import "fonts";
@media screen and (prefers-reduced-motion: reduce) {
	html {
	  scroll-behavior: auto;
	}
  }

html {
	scroll-behavior: smooth;
  }

body{
	font-family: 'AGENCYR';
	width: 100%;
	background: url(/img/content/background.jpg) -125px -60px/110% auto no-repeat fixed;
}

.wrap {
}
.header {
	position: sticky;
	top:0;
	background: rgba(0,0,0,0.7);
	display: flex;
	justify-content: center;
		&__body {
			display: flex;
			justify-content: space-between;
			height: 50px;
			width: 50%;
		}

		&__logo {
			display: flex;
			width: auto;
			height: 80%;
			margin: auto 0;
		}

		&__logo-text {
			display: flex;
			width: auto;
			height: 20px;
			margin: auto 10px;
		}

		&__menu {
			display: flex;
			margin: auto 0;
		}
		&__navbar{
			display: flex;
		}
}

.navbar{
	font-size: 20px;
	margin: auto 0;
	li{
		display: block;
		padding: 0 40px 0 0;
	}
	&__link{
		display: inline;
		white-space: nowrap;
		text-decoration: none;
		color: white;
		
	}
	&__link:hover{
		color: aqua;
	}
	&__link:active{
		color: white;
		text-shadow: 0px 0px 10px white;
	}
	li:last-child{
		padding-right: 0px;
	}
}
.hellologo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.menu {
}
.content {
}
.hello-page {

		&__logo {
			width: 15%;
			height: auto;
			margin: 10% auto 0;
		}

		&__countries-text {
			color: white;
		}

		&__icon-scroll {
			display: flex;
		}

		&__image-icon-scroll{
			height: 50px;
			width: 50px;
		}

		&__scroll-icon{
			
		}
}

.scroll-icon{
	margin: 5% auto 10%;
}

.image-icon-scroll{
	display: flex;
}

.portfolio {
	display: flex;
	flex-direction: column;

		&__body {
		}

		&__blockheader {
		}

		&__gallary {
			width: auto;
			height: 500px;
			background: #211D1C;
		}
}
.blockheader {
	background: #9e9d9d;
	font-size: 20px;
	display: flex;
	align-items: center;

		&__title {
			color: white;
			margin: 20px auto;
		}
}
.gallary {

	&__body{
		display: grid;
		grid-template-columns: 33.333%;
		grid-template-rows: auto;
	}

	&__item{

	}
}
.projects {
	display: flex;
	flex-direction: column;

		&__body {
		}

		&__blockheader {
		}
}

.column{
	flex: 0 1 33.333%;
	margin: 0 -10px;
}

.about {
	display: flex;
	flex-direction: column;
	background:#211D1C;

		&__blockheader {
		}

		&__row {
			width: 50%;
		}

		&__column {
			color: white;
		}
}
.about {

		&__body {
		}
}
.row {
	display: flex;
	flex-direction: row;
	margin: 10% auto;
	justify-content: space-between;
	padding: 0 10px 10px;
}
.item-about {
	padding: 0 10px;

		&__label {
			
		}

		&__text {
				margin: 0 0 30px 0;
		}
}

.label{
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 10px 0;
}

.contact {
	display: flex;
	flex-direction: column;
	background: #211D1C;

		&__body {
		}

		&__blockheader {
		}

		&__icon-scroll {
		}

		&__wrap{
			display: flex;
			align-items: center;
			flex-direction: column;
		}
}
.form-message {
	border-radius: 20px;
	background: #333;
	width: 40%;
	color: white;
	margin: 5% auto 50px;
	display: flex;
	flex-direction: column;
	padding: 40px;

		&__logo {
			display: flex;
			justify-content: center;
		}

		&__image-logo{
			width: 50%;
			height: auto;
			margin: 0 0 40px 0;
		}

		&__row-bottom{
			display: flex;
		}

		&__countries-text {
		}

		&__description {
		}

		&__form {
		}
}
.description {
	display: flex;
	flex-direction: column;

		&__title {
		}

		&__text {
		}

		&__paragraph {
			margin: 0 0 10px 0;
		}
}
.form {
	

		&__body {
		}

		&__title {
		}

		&__form {
			display: flex;
			flex-direction: column;
			border-radius: 10px;
		background: #4d4d4d;
		padding: 10px;
		}

		&__input {
			border-radius: 7px;
			background: #666;
			margin: 0 0 5px 0;
			color: white;
			text-indent: 5px;
			height: 25px;
			padding: 10px;
		}

		&__input::placeholder{
			color: white;
		}
}

.input_big{
	height: 150px;
}

.input_button{
	padding: 0;
}

.column_half-space{
	flex: 0 1 50%;
	padding: 20;
	margin: -20px;
}

.icon-scroll_inverted {
	transform: rotate(180deg);
	margin: 0 auto 3%;
}

.content {

	&__icon-scroll {
	}

	&__image-icon-scroll {
		height: 50px;
		width: 50px;
	}
}

.footer {
	background: #333;
	display: flex;
	justify-content: center;
	align-items: center;

		&__text {
			margin: 20px auto;
			color: white;
		}
}
